<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>