<p>this will be where you sign up for this awesome app</p>

<form method="post" action="/register">
  <lable for="username">Username:</lable>
  <input type="text" name="username" id="username"/>
  <label for="email">Email:</label>
  <input type="text" name="email" id="email"/>
  <lable for="password">Password:</lable>
  <input type="password" name="password" id="password"/>
  <button type="submit">Register</button>
</form>