<h4>#blocker</h4>

<input type="image" src="/images/Facepalm_statue.jpg" />

<p>so you never have to see stupid hashtags again</p>

<form method="get" action="/register">
  <button>Register</button>
</form>