<h1>appname</h1>

<nav>
  <ul>
    <li><a href="/register">register</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/about">about</a></li>
  </ul>
</nav>

<p>so you never have to see stupid hashtags again</p>

<img alt="Facepalm bitches!" src="/images/Facepalm_statue.jpg" />

